version: "3.8"
services:
  server:
    build: ./server
    container_name: server_c
    ports:
      - "5000:5000"
  client:
    build: ./client
    container_name: client_c
    ports:
      - "8081:8081"
    stdin_open: true
    tty: true
    # environment:
    #   - expo_devtools_listen_address=0.0.0.0
    #   - chokidar_usepolling=true
    volumes:
      - ./client:/client
